body{
  font-family:helvetica, sans-serif;
  margin:0;
}
.container{
  margin: 10px;
}
.container h2{
  font-weight: lighter;
  color: #999;
}
.small-title{
  color: #666;
  font-size: 14px;
  font-weight: lighter;
}
.title1{
  color: red;
  font-weight: normal;
  margin-left: 10px;
}
.nav-container{
  background-color: #000;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
.ul-container li{
  color: #fff;
  display: inline-block;
  padding: 20px 20px;
  border-left: #ccc 1px solid;
  float: left;
}
.ul-container li a{
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.3s;
}
.ul-container li:first-child{
  border: none;
}
.ul-container{
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}
.ul-cotainer li a:hover{
  background-color: red;
}
.ul-container li.icon{
  display: none; /* Hide the list item that contains the link that should open and close the topnav on small screens */
}
.col-2-3{
  float: left;
  width: 66.66%;
  box-sizing: border-box;

}
.col-1-3{
  float: left;
  width: 33.33%;
  box-sizing: border-box;
}
.container p{
  color: #666;
  font-size: 12px;
  font-weight: lighter;
}
.container{
  margin-top: 50px;
}
.link a{
  color: red;
  float: right;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 50px;
  padding-top: 20px;
}
.paragraph-1{
  margin-right:40px;
}
.container h3{
  color: #ccc;
  font-weight: lighter;
  font-size: 24px;
}
.col-2-3 img{
  width:90%;
}
p:first-child::first-letter{
  text-transform: uppercase;
  font-size: 40px;
  font-weight: lighter;
  color: #ccc;
  float: left;
  padding-right: 4px;
}
.divider{
  width: 90%;
  border-top: #ccc 1px solid;
  margin-top: 70px;
  margin-bottom: 40px;
}
.nav-container-footer{
  margin-left:-40px;
}
.ul-container-footer li{
  display: inline-block;
  font-size: 12px;
  border-left: red 1px solid;
  padding-left: 5px;
  padding-right: 5px;
}
.ul-container-footer a{
  text-decoration: none;
  color: red;
}
.ul-container-footer li:first-child{
  border: none;
}
.side h6{
  color: #999;
  font-size: 16px;
  font-weight: bold;
}
.side li a{
  text-decoration: none;
  color: red;
  font-size: 14px;
}
.side ul{
  list-style-type: none;
  }
.side ul li:before{
  color: #ccc;
  content: ".";
  font-weight: bold;
  margin-right: 10px;
}
.about-image{
  width: 300px;
  height: 300px;
  background-color: #ccc;
}
.divider2{
  margin-top: 40px;
  border-top: #ccc 1px solid;
  width: 90%;
}
/* When the screen is less than 680 pixels wide,
hide all list items, except for the first one ("Home").
Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:980px) {
  .nav-container li:not(:first-child){
    display: none;
  }
  .ul-container li.icon{
    float: right;
    display: inline-block;
  }
}
@media screen and (max-width:980px) {
  .ul-container.responsive{
    position: relative;;
  }

  .ul-container.responsive li.icon{
    position: absolute;
    right: 0;
    top: 0;
  }
  .ul-container li:last-child{
    border: none;
  }
  .ul-container.responsive li{
    float: none;
    display: inline;
  }
  .ul-container.responsive li a{
    border: none;
    margin-left: 30px;
  }

}


/*@media screen and (min-width: 980px) and (max-width: 1199px) {
  li a{
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  li a{
    display: block;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  li a{
    display: block;
  }
  article{
    max-width:300px;
  }
}*/
